* {
    box-sizing: border-box;
}

.login-container {
    text-align: center;
    margin-top: 140px;
}

.demo-info {
    position: relative;
    width: 155px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #999;
    border-radius: 15px;
}